<h1>about</h1>
<div>
  <p>My main datasource comes from http://www.recipepuppy.com/api/. This api connects to a database of over a million
    recipes and contains a list of ingredients creating a many to one relationship. I intend to create a table of
    ingredients to make a many to many relationship. I intend to find or create another datasource with ingredients and
    categories (produce, dairy, etc) and integrate the categories into the ingredients table</p>
</div>
<div>
  <%= image_tag "recipERD.jpg" %>

</div>